In [2]:
import pandas as pd

Pandas is a really powerful tool! Here are some tips 
and tricks to prepossess your data.

In [1]:
""" Handle missing data in a pandas DataFrame."""
df = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
      'last_name': ['Miller', None, 'Ali', 'Milner', None]}
df = pd.DataFrame(df)

# use isnull() to check for missing values
print(df.head(2).isnull())

# use dropna() to drop rows with missing values
print(df.head(2).dropna())

# or use fillna() to fill in missing values
print(df.head(2).fillna("No Last Name"))

NameError: name 'pd' is not defined

In [17]:
""" Dropping duplicate data in a pandas DataFrame."""
df = {'first_name': ['Jason', 'Molly', 'Molly', 'Jason', 'Jason'], 
      'last_name': ['Miller', 'Ali', 'Ali', 'Miller', 'Miller']}
df = pd.DataFrame(df)

# use duplicated() to check for duplicate rows
print(f'Total number of duplicates: {sum(df.duplicated())}')

# use drop_duplicates() to drop duplicate rows
print(df.drop_duplicates())

# use astype() to convert a column to a different type
df['last_name'] = df['last_name'].astype('string')
df['first_name'] = df['first_name'].astype('string')

# use df.info() to get info about the DataFrame
print(df.info())

Total number of duplicates: 3
  first_name last_name
0      Jason    Miller
1      Molly       Ali
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  5 non-null      string
 1   last_name   5 non-null      string
dtypes: string(2)
memory usage: 212.0 bytes
None