In [5]:
import pandas as pd
astronauts = ['Neil Armstrong', 'Buzz Aldrin', 'Pete Conrad', 'Alan Bean', 'Alan Shepard', 'Edgar Mitchell', 'David Scott', 'James Irwin', 'John Young', 'Charles Duke', 'Eugene Cernan', 'Harrison Schmitt']
df = pd.DataFrame(astronauts, columns=['name'])

# The [[]] is to make it a dataframe, not a series
df[['first_name', 'last_name']] = df['name'].str.split(' ', expand=True)
df.drop('name', axis=1, inplace=True)
print(df.head(2))

# Filter the df by name = 'Alan'
alan = df[df.first_name == 'Alan']
print(alan)

  first_name  last_name
0       Neil  Armstrong
1       Buzz     Aldrin
  first_name last_name
3       Alan      Bean
4       Alan   Shepard